
<%-include("header")%>
<h1>About us</h1>
<p>Hi, I am Devesh Soni. Final year Computer Science & Engineering undergraduate @ Samrat Ashok Technological Institute (Degree), Vidisha</p>

<%-include("footer")%>
